<component name="ArtifactManager">
  <artifact type="war" name="springwebconfiguration:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SprinfBlogWebApp.war">
      <element id="artifact" artifact-name="springwebconfiguration:war exploded" />
    </root>
  </artifact>
</component>